/*Section-four*/

.section-four{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-four-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    

}

.section-four-container h1{
    font-size: 50px;
}

.section-four-container p{
    font-size: 1.25rem;
}
